/*
 * nextflow.config
 * Idun HPC GPU configuration
 * Account: mh-ikom
 */

params {
    max_cpus   = 8
    max_memory = '64 GB'
    max_time   = '24h'
}

/*********************************
 * Global process defaults
 *********************************/

process {

    errorStrategy = 'terminate'
    maxRetries    = 1

    cpus   = { params.max_cpus }
    memory = { params.max_memory }
    time   = { params.max_time }

    // Prevent multiple GPU tasks stacking on same node
    withName: runPipeline {
        maxForks = 1
    }
}

/*********************************
 * Profiles
 *********************************/

profiles {

    /*
     * Local testing (login node)
     */
    local {
        process.executor = 'local'
        process.cpus     = 4
        process.memory   = '16 GB'
        process.time     = '2h'
    }


    /*
     * A100 profile
     */
    a100 {

        process.executor = 'slurm'
        process.queue    = 'GPUQ'

        process.clusterOptions = """
            --account=mh-ikom
            --gres=gpu:a100:1
        """

        process.cpus   = 8
        process.memory = '64 GB'
        process.time   = '24h'

        executor {
            queueSize = 10
        }
    }


    /*
     * V100 profile
     * Use for smaller datasets or testing
     */
    v100 {

        process.executor = 'slurm'
        process.queue    = 'GPUQ'

        process.clusterOptions = """
            --account=mh-ikom
            --gres=gpu:v100:1
        """

        process.cpus   = 8
        process.memory = '32 GB'
        process.time   = '24h'

        executor {
            queueSize = 10
        }
    }


    /*
     * H100 profile
     */
    h100 {

        process.executor = 'slurm'
        process.queue    = 'GPUQ'

        process.clusterOptions = """
            --account=mh-ikom
            --gres=gpu:h100:1
        """

        process.cpus   = 8
        process.memory = '64 GB'
        process.time   = '24h'

        executor {
            queueSize = 5
        }
    }
}
