[workspace]
authors = ["adiezsanchez <adiez.biotech@gmail.com>"]
channels = ["pytorch", "nvidia", "conda-forge"]
name = "shreyag_ibd_orgs"
platforms = ["win-64"]
version = "0.1.0"

# -------------------------
# Tasks
# -------------------------

[tasks]
fix_opencl = "scripts/fix_opencl.sh"

[tasks.lab]
cmd = "jupyter lab"

# -------------------------
# Conda-forge dependencies
# -------------------------

[dependencies]
python = "3.10.*"  
pytorch = "==2.5.0"
pytorch-cuda = "12.1.*"
torchvision = "==0.20.0"
cellpose = "==4.0.6" # CellposeSAM (latest ViT implementation)
apoc-backend = "*" # fast GPU classifiers (APOC)
edt = "*" # Euclidean distance transforms
ipykernel = "*" # Jupyter kernel support
ipython = "*" # interactive shell
jupyterlab = "*" # Jupyter environment
napari = "==0.5.4" # image viewer
nbformat = "*" # notebook parsing
nd2 = "*" # Nikon ND2 image reader
plotly = "*" # plotting library
pyclesperanto-prototype = "*" # GPU image processing (OpenCL)
pyqt = "*" # GUI backend for napari
pydantic = "<2.0" # Avoid incompatibility between Pydantic and Napari
setuptools = "<81" # pin to avoid pkg_resources removal
seaborn = ">=0.13.2,<0.14"
